/* import and use Mensrea font */

.Banner {
    font-family: 'Mensrea', cursive;
    font-weight: normal;
}

.Banner img {
    width: 100%;
    /* height maximum 40% of the screen, crop the image to fit */
    max-height: 25vh;
    object-fit: cover;
}